.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab {
	padding: 0 !important;
}

.ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
	margin: 0 !important;
}

.ant-tabs-ink-bar {
	background: none;
	display: none;
}

.ant-tabs-left>.ant-tabs-content-holder {
	border-left: none !important;
}

.ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
	padding-left: 0 !important;
}

.ant-list-item {
	display: block !important;
}

.ant-list-item-meta {
	display: block !important;
	position: relative !important;
}

.ant-list-item-meta-avatar {
	display: inline-block !important;
}

.ant-list-item-meta-content {
	display: inline-block !important;
	width: auto !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: rgba(0,0,0,.85) !important;
	text-shadow: 0 0 0 #fff !important;
}

.secondList .ant-tabs-tab.ant-tabs-tab-active {
	background-color: #e8e8e8 !important;
}

.ant-list-item-meta-title {
	margin-bottom: 0 !important;
}