.chatPage .ant-list-items {
	padding: 20px 0 !important;
}

.chatPage .ant-list-item {
	width: 100%;
	display: flex !important;
	padding: 10px 0 !important;
	align-items: start;
}

.chatPage .chatPageContent {
	width: calc(100% - 160px);
}

.keep-left {
	flex-direction: row;
	justify-content: flex-start !important;
}

.keep-right {
	flex-direction: row-reverse;
	justify-content: flex-start !important;
}

.keep-right .titleOrMsg {
	display: flex;
	flex-direction: row-reverse;
}

.chatPageAvatar {
	order: 0;
	margin-left: 28px;
	margin-right: 12px;
}

.chatPageContent {
	order: 1;
}

.myMsgBackgroundColor {
	background-color: #d0e0fc;
}

.otherMsgBackgroundColor {
	background-color: #fff;
}
