.P-L-header {
	background: #fff !important;
}

.P-L-background {
	background-image: url(../../common/images/background01.jpg) !important;
	background-position: center;
	background-repeat: no-repeat;
}