.contactList .ant-collapse {
	border: 0;
}

.contactList .ant-collapse>.ant-collapse-item {
	border: 0;
	background-color: #f7f7f7;
}

.contactList .ant-collapse-content {
	border-top: 0;
}

.contactList .ant-collapse-content>.ant-collapse-content-box {
	padding: 0;
	background-color: #f7f7f7;
}

.ant-tabs-left>.ant-tabs-content-holder {
	background-color: #f7f7f7;
	border-right: 1px solid #e0e0e0;
}

.singleContactList .ant-list-item {
	padding: 0 !important;
}

.singleContactList .ant-btn-link {
	color: #000;
}

.singleContactList .ant-btn {
	padding: 0;
	border: 0;
}

.contactActive {
	background-color: #e8e8e8 !important;
}

.overWidth {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}